.env
# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local Python package folders
*.egg-info/
*.egg/
dist/
build/
site-packages/
pulsetalkai/pyvenv.cfg
pulsetalkai/Include/site/python3.10/greenlet/greenlet.h
pulsetalkai/Scripts/activate
pulsetalkai/Scripts/activate.bat
pulsetalkai/
# Ignore all __pycache__ directories and .pyc files in Telecom_usecase/agent
Telecom_usecase/agent/__pycache__/
Telecom_usecase/agent/*.pyc

